body {
  font-family: Roboto;
  transition: ease all .5s;
}
.maindiv {
  display: flex;
  height: 100vh;
}
.login_Leftside {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
    margin-left: 140px;
}
.login_img {
  width: 55%;
  margin-bottom: -50px;
  margin-top: 5%;
}
.form_area {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 2px solid #fec68d;
  border-radius: 97px;
  width: 42vw;
  height: 52vh;
}
.registerArea{
  margin-top: 10%;
}
.svg {
  position: relative;
  left: 40px;
  top: 11px
}
.input {
  width: 35vw;
  padding: 10px 10px 10px 50px;
  border-radius: 8px;
  border: none;
  box-shadow: 0px 0px 1.5px;
  margin-bottom: 25px;
  letter-spacing: 1px;
  font-size: 15px;
  outline: none;
}
.lastdiv {
  display: flex;
  align-items: center;
  justify-content: center;
}
.submit_button {
  width: 30%;
  height: 7vh;
  border: none;
  border-radius: 8px;
  background-color: #80c8f0;
  color: #fff;
  font-size: 20px;
  cursor: pointer;
  box-shadow: 0px 5px 10px 0px rgb(179 179 179);
}
.lastLine {
  margin-top: 30px;
}
.img_Righside {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
}
.girl_img {
  position: relative;
  left: -140px;
  height: 500px;
}
#register {
  color: #fec68d;
}
.password-toogle-icon {
  position: relative;
  cursor: pointer;
  right: 30px;
}
@media only screen and (max-width: 1510px) {
  .girl_img {
    position: relative;
    left: -140px;
    height: 470px;
  }
}
@media only screen and (max-width: 1460px) {
  .girl_img {
    position: relative;
    left: -140px;
    height: 450px;
  }
}
@media only screen and (max-width: 1435px) {
  .girl_img {
    position: relative;
    left: -140px;
    height: 430px;
  }
}
@media only screen and (max-width: 1410px) {
  .girl_img {
    position: relative;
    left: -140px;
    height: 410px;
  }
}
@media only screen and (max-width: 1380px) {
  .girl_img {
    position: relative;
    left: -140px;
    height: 390px;
  }
}
@media only screen and (max-width: 1340px) {
  .girl_img {
    position: relative;
    left: -140px;
    height: 380px;
  }
}
@media only screen and (max-width: 1320px) {
  .girl_img {
    position: relative;
    left: -140px;
    height: 360px;
  }
}
@media only screen and (max-width: 1290px) {
  .girl_img {
    position: relative;
    left: -140px;
    height: 340px;
  }
}
@media only screen and (max-width: 1260px) {
  .girl_img {
    position: relative;
    left: -140px;
    height: 330px;
  }
}
@media only screen and (max-width: 1240px) {
  .girl_img {
    position: relative;
    left: -140px;
    height: 320px;
  }
}
@media only screen and (max-width: 1225px) {
  .girl_img {
    position: relative;
    left: -140px;
    height: 300px;
  }
}